force-app/main/default/flows/Opportunity_Flow_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Values_in_TempOrderProduct</name>
        <label>Assign Values in TempOrderProduct</label>
        <locationX>509</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>TempOrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Line_Items.PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOrderProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Line_Items.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOrderProduct.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Line_Items.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opportunity_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_All_Order_Products</name>
        <label>Collect All Order Products</label>
        <locationX>506</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>OrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>EffectiveDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 2</expression>
    </formulas>
    <formulas>
        <name>LineItemCount3Check</name>
        <dataType>Boolean</dataType>
        <expression>{!CountLineItems}&gt;= 3</expression>
    </formulas>
    <interviewLabel>Opportunity Flow Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Flow Task</label>
    <loops>
        <name>Loop_Through_Opportunity_Line_Items</name>
        <label>Loop Through Opportunity Line Items</label>
        <locationX>177</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_All_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_in_TempOrderProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>177</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>Get_All_Opportunity_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyAuthorizedDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerAuthorizedById</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>EffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>182</locationX>
        <locationY>894</locationY>
        <inputReference>OrderProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Opportunity_Line_Items</name>
        <label>Get All Opportunity Line Items</label>
        <locationX>172</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunity_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>15</locationY>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CountLineItems</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LineItemCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>TempOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
